<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
      <h1>Yadda, yadda, yadda</h1>
      <p>This is the info page: You know nothing, Jon Snow.</p>
    </body>
</html>